@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&family=Poppins:wght@400;500&family=Rubik:wght@400;500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
body{
  background: linear-gradient(to right , rgba(0, 97, 255 , 0.5) 5.74%, rgba(96, 239, 255) 45% );
}

.app {
    /* background: linear-gradient(to right , rgba(0, 97, 255 , 0.5) 5.74%, rgba(96, 239, 255) 45% ); */
    /* background-color: #448DE1; */
    /* background-attachment: fixed;
    background-color: #EAEAEA; */
    /* background: #9CECFB;
    background: -webkit-linear-gradient(to top, #0052D4, #65C7F7, #9CECFB);
    background: linear-gradient(to top, #0052D4, #65C7F7, #9CECFB); */

}

.section {
    height: 100vh; /* set the height of the section to the full viewport height */
    overflow-y: scroll; /* enable vertical scrolling */
    scroll-snap-type: y mandatory; /* snap to the nearest snap point */
    scroll-behavior: smooth; /* make the scrolling animation smooth */
  }
  
  .section > * {
    scroll-snap-align: start; /* align each child element to the start of the snap point */
  }
  